<ul class="container">
  <li class="container__item">
    <mat-card class="container__item__date">
      <mat-card-content>
        <span class="container__item__date--month">November</span>
        <h1 class="container__item__date--day">5</h1>
        <span class="container__item__date--year">2017</span>
      </mat-card-content>
    </mat-card>

  </li>
  <li class="container__item">
    <span class="container__item__weather">
      <i class="material-icons">wb_cloudy</i>
      <span class="container__item__weather--value">22</span>
      <span class="container__item__weather--unit">°C</span>
    </span>
  </li>
</ul>
